.header{
    padding: 24px;
    .nav-container{
        display: flex;
        justify-content: space-between;
        .logo{
            max-width: 180px;
        }
        .nav-items{
            > ul{
                display: flex;
                gap: 30px;
                align-items: center;
                > li{
                    cursor: pointer;
                    &:last-child{
                        background-color: red;
                        padding: 8px 20px;
                        border-radius: 3px;
                        color: white;
                        font-weight: 500;
                        font-size: 20px;
                    }
                    &:has(.sub-menu){
                        position: relative;
                        .sub-menu{
                            position: absolute;
                            top: calc(100% + 20px);
                            left: 0;
                            background: #fff;
                            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                            z-index: 10;
                            display: flex;
                            gap: 10px;
                            flex-direction: column;
                            opacity: 0;
                            transition: 0.3s;
                            pointer-events: none;
                            padding: 10px;
                            border-radius: 5px;
                        }
                        &:hover{
                            .sub-menu{
                                top: 100%;
                                opacity: 1;
                                pointer-events: all;
                            }
                        }
                    }
                }
            }
        }
    }
}